@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.item-one {
  flex: 1;
  padding: 65px 165px 160px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.newgirl {
  display: none;
}

.coming {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.coming h1 {
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 17.3206px;
  color: #ce9898;
}

.coming h1 span {
  font-weight: 600;
  font-size: 64px;
  line-height: 71px;
  letter-spacing: 17.3206px;
  color: #423a3a;
}

.coming p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ce9898;
  max-width: 445px;
}

.coming .email {
  position: relative;
  max-width: 445px;
}

.coming .email input {
  width: 100%;
  height: 56px;
  border: 1px solid #ce9898;
  border-radius: 28px;
  font-size: 16px;
  color: #ce9898;
  line-height: 28px;
  padding-inline: 32px;
  color: #ce9898;
}

input[type="email" i] {
  padding-block: 0px;
}

input::placeholder {
  color: #ce9898;
  font-size: 16px;
}

input:focus {
  outline: none;
}

.coming .email .input-submit {
  position: absolute;
  width: 100px;
  height: 56px;
  right: 0;
  top: 0;
  display: grid;
  place-items: center;
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
  border-radius: 28px;
  cursor: pointer;
}

.coming .email .input-submit:hover {
  box-shadow: -46px -28px 40px -3px rgba(0, 0, 0, 0.1);
}

.item-two {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: gray;
}

.item-two img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Responsive */

@media all and (max-width: 1000px) {
  body {
    overflow: auto;
  }

  .item-one {
    padding: 30px 0px 0px 0px;
    gap: 32px;
  }

  .item-one .baseapparel {
    padding-left: 32px;
  }

  .item-two {
    display: none;
  }

  .newgirl {
    display: block;
    position: relative;
    padding-top: 60%;
    height: 250px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }

  .newgirl img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    margin: 0 auto;
  }

  .coming {
    padding: 32px;
    text-align: center;
  }
}
